input{
    font-size: 15px;margin-left: 20px;background: transparent;height: 40px;border:none; border-bottom:solid 1px ; transition:.9s;  
    }
   
input:hover{
    border:none;
    border-bottom:solid 3px #3883fa ;
    
   } 
  