<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Delete'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
    <!-- /Header -->
    
<h1>SU PRODUCTO FUE BORRADO CON EXITO</h1>
	
<a href="http://localhost:3000/">  <img src="/images/products/logo ml.png" alt="imagen" style="width:200px; height: 200px;"   > <br> Presione el icono para volver a la home </a>
    	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>

